node_modules
.next
.turbo
out
dist

.git
.gitignore
.github

.env
.env.local
.env.*.local

tests
docs
coverage
.vitest-cache

.idea
.vscode
.DS_Store
*.log

pgdata
.pgdata

tsconfig.tsbuildinfo
Dockerfile
.dockerignore
docker-compose.yml
README.md
